.pdf-safe * {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
}


/* ---------- FONT VARIABLES ---------- */

:root {
  --font-inter: "Inter", sans-serif;
  --font-plexmono: "IBM Plex Mono", monospace;
}

/* Default UI Font */
body {
  font-family: var(--font-inter);
}

/* Optional: Monospace utility class */
.font-mono {
  font-family: var(--font-plexmono);
}


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
